{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}
		<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
		<script src="assets/js/main.js"></script>
	</head>

	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>  -->
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde fugit, quasi hic aspernatur iure perferendis quam, corrupti eos illum consequatur maiores quod cum quae quisquam nam odio culpa esse possimus!</h1>
<h2>hello</h2>
<h3>hello</h3>
<h4>hello</h4>
<h5>hello</h5>
<h6>hello</h6>
		<div id="scene">
			
			<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 760 430" style="enable-background:new 0 0 760 430;" xml:space="preserve">
				<style type="text/css">
					.st0 {
						fill: #F90606;
					}
				</style>
				<g>
					<rect x="-48" y="-32" class="st0" width="93" height="482" />
				</g>
				<g>
					<rect x="133" y="86" class="st0" width="93" height="482" />
				</g>
				<g>
					<rect x="315" y="-267" class="st0" width="93" height="482" />
				</g>
				<g>
					<rect x="438" y="-267" class="st0" width="93" height="482" />
				</g>
				<g>
					<rect x="561" y="-267" class="st0" width="93" height="482" />
				</g>
				<g>
					<rect x="316.5" y="183" transform="matrix(0.7071 -0.7071 0.7071 0.7071 1.0016 461.444)" class="st0" width="482" height="93"
					/>
				</g>
				<g>
					<rect x="403.5" y="270" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -35.0243 548.4181)" class="st0" width="482" height="93"
					/>
				</g>
			</svg>
		</div>
		{{ block('footer_brand') }}
	</body>
	
</html>