#scene 
{
    width: 100%;
    max-width: 760px;
    // height: 430px;
    background:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}

svg
{;
}